header {
  margin: 0 0 4em 0;
}

.abstand {
  margin-top: 3em;
}

.abstand1 {
  margin-top: 1em;
}

.login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f8f9fa;
  }
  
  .falsch {
    color: #FF0000;
  }

  .textInhalt {
    margin: 3em 0 0 0;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="benutzername"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .logintext {
    color: #ffffff;
  }

  /*
 * Footer
 */
.blog-footer {
  margin-top: 4em;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f8f9fa;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.dashboardButtons {
  width: 50%;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #007bff solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}