header {
  margin: 0 0 3.3em 0;
}

.nav-scroller {
  margin: 0 0 2em 0;
}

.abstand {
  margin-top: 3em;
}

.abstandKommentar {
  margin-right: -1rem;
}

.tokenAnfragen {
  margin: 0 0 2em 0;
}

.abstand1 {
  margin-top: 1em;
}

.abstand1LeftTop {
  margin-top: 1em;
  margin-left: 1em;
}

.abstand2 {
  margin-top: 2em !important;
}

.login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f8f9fa;
  }

  .falsch {
    color: #FF0000;
    text-align: center;
    margin-top: 1em;
  }

  .textInhalt {
    margin: 3em 0 0 0;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="benutzername"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .logintext {
    color: #ffffff;
  }

  .datumsabstand {
    margin: 0 0 0 -1.8rem;
  }

  @media (max-width: 575.98px){
    .loginButtonText {
      font-size: 1.2rem;
    }
  }

html
{
  min-height: 100%;
  position: relative !important;
}
body
{
  margin-bottom: 6em !important;
}

  /*
 * Footer
 */
.footerSticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5em;
  line-height: 4em;
  color: #999;
  text-align: center;
  background-color: #f8f9fa;
  border-top: .05rem solid #e5e5e5;
}
footer p:last-child {
  margin-bottom: 0;
}

.dashboardButtons {
  width: 15rem;
}

.adminEventButton {
  width: 15rem;
}

.adminEventText {
  width: 7.6rem;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #007bff solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

@media (max-width: 575.98px) {
  .eventMedia {
    margin: 0 0 0 0.1rem;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.loginButtonSize {
  height: 75%;
}

.menueColor {
  color: #343a40;
  font-weight: 500;
}

.bottomAlert{
  position: fixed;
  bottom: 5px;
  left:2%;
  width: 96%;
  z-index: 100;
}

.visibleMeldung {
  display: block;
}
.hiddenMeldung {
  display: none;
}

.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}

.blau {
  background-color: #007bff !important;
  color: #ffffff !important;
}

.weiß {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.fakeLink {
  cursor: pointer !important;
}

.fakeLink:hover {
  color: #007bff !important;
}

/*
* Filips blödsinn
*/
.content h1 {
  text-align: center;
}
.content .content-footer p {
  color: #6d6d6d;
  font-size: 12px;
  text-align: center;
}
.content .content-footer p a {
  color: inherit;
  font-weight: bold;
}
tbody.collapse.in {
  display: table-row-group;
}

.panel {
  margin-top: 10%;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
}
.panel .btn-group {
  margin: 15px 0 30px;
}

.table-filter {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.table-filter tbody tr td {
  padding: 10px;
  vertical-align: middle;
  border-top-color: #eee;
}
.table-filter tbody tr.selected td {
  background-color: #eee;
}
.table-filter tr td:first-child {
  width: 38px;
}

.table-filter tr td:nth-child(2) {
  width: 35px;
}
.ckbox {
  position: relative;
}
.ckbox input[type="checkbox"] {
  opacity: 0;
}
.ckbox label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ckbox label:before {
  content: '';
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
  border-color: #2BBCDE;
  background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
  top: 3px;
  left: 3.5px;
  content: '\e013';
  color: #fff;
  font-size: 11px;
  font-family: 'Glyphicons Halflings';
  position: absolute;
}
.table-filter .star {
  color: #ccc;
  text-align: center;
  display: block;
}
.table-filter .star.star-checked {
  color: #F0AD4E;
}
.table-filter .star:hover {
  color: #ccc;
}
.table-filter .star.star-checked:hover {
  color: #F0AD4E;
}
.table-filter .media-photo {
  width: 35px;
}
.table-filter .media-body {
  display: block;
}
.table-filter .media-meta {
  font-size: 11px;
  color: #999;
}
.table-filter .media .title {
  color: #2BBCDE;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}
.table-filter .media .title span {
  font-size: .8em;
  margin-right: 20px;
}
.table-filter .media .title span.bestätigt {
  color: #5cb85c;
}
.table-filter .media .title span.inbearbeitung {
  color: #f0ad4e;
}
.table-filter .media .title span.abgelehnt {
  color: #d9534f;
}
.table-filter .media .summary {
  font-size: 14px;
}

.smallFont {
  font-size: 14px;
}

.nullAbstand {
  margin: 0% !important;
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
}

.abstand1AllAround {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.abstand05TopBot {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.abstand1RightTop {
  margin-top: 1em;
  margin-right: 1em;
}

.abstand1Right {
  margin-right: 1em;
}


/*

.menueLink {
  cursor: pointer !important;
}
.menueLink:hover {
  cursor: pointer !important;
  color: #007bff !important;
}
*/
@media(max-width: 575.98px) {
  .linksrechts {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media(max-width: 1199.98px) and (min-width: 575.98px) {
  .linksrechts {
    margin-top: 13rem;
  }
}

@media(min-width: 1200px) {
  .linksrechts {
    margin-top: 13rem;
  }
}

@media(max-width: 575.98px) {
  .linksrechts {
    margin-bottom: 1rem;
  }
}

