header {
  margin: 0 0 3.3em 0;
}

.nav-scroller {
  margin: 0 0 2em 0;
}

.abstand {
  margin-top: 3em;
}

.tokenAnfragen {
  margin: 0 0 2em 0;
}

.abstand1 {
  margin-top: 1em;
}

.abstand2 {
  margin-top: 2em;
}

.login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f8f9fa;
  }
  
  .falsch {
    color: #FF0000;
    text-align: center;
    margin-top: 1em;
  }

  .textInhalt {
    margin: 3em 0 0 0;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="benutzername"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .logintext {
    color: #ffffff;
  }

  .datumsabstand {
    margin: 0 0 0 -1.8rem;
  }

  @media (max-width: 575.98px){
    .loginButtonText {
      font-size: 1.2rem;
    }
  }

html
{
  min-height: 100%;
  position: relative !important;
}
body
{
  margin-bottom: 6em !important;
}

  /*
 * Footer
 */
.footerSticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5em;
  line-height: 4em;
  color: #999;
  text-align: center;
  background-color: #f8f9fa;
  border-top: .05rem solid #e5e5e5;
}
footer p:last-child {
  margin-bottom: 0;
}

.dashboardButtons {
  width: 15rem;
}

.adminEventButton {
  width: 15rem;
}

.adminEventText {
  width: 7.6rem;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #007bff solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

@media (max-width: 575.98px) {
  .eventMedia {
    margin: 0 0 0 0.1rem;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem; 
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.loginButtonSize {
  height: 75%;
}

.menueColor {
  color: #343a40;
  font-weight: 500;
}

.visibleMeldung {
  display: block;
}
.hiddenMeldung {
  display: none;
}

.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y:scroll; 
  -webkit-overflow-scrolling: touch;
}

